main {
    min-height: calc(100vh - 160px);
  }

.card {
  max-height: 400px;
  margin-bottom: 5%;
}
  
.card-body {
  height: 140px;
  overflow-y: auto;
}
  
.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}